.center{
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    color:white;
    text-shadow: 1px 2px 3px rgb(171, 33, 23);
    
}

.carousel {
    width:600px;
    height:400px;
  }

  .podnaslov{
    text-align: center;
    font-size: 1.3rem;
    font-weight: bold;
    color: rgb(255, 255, 255);
    margin-top:15px;
  }
  
  .tekst{
    font-size: 1rem; 
    padding-left: 120px;
    padding-right: 120px;
    font-weight: bold;
    background-color: wheat;
    border-radius: 15px;
    padding-left: 15px;
    padding-right: 15px;
    border: 2px solid brown;
    transition: 0.3s;
    color:black;  
  }

  .tekst:hover{
      transform: scale(1.05);
  }

  .card{
    background-color:wheat;
    font-weight: bold;
    font-size: 1rem; 
    color:rgb(70, 70, 70);
  }

  .md-form{
    color:rgb(171, 33, 23);
  }

  .backgr{
    background-image: url("../img/ntr.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position:center;
    width:auto;
    height:auto;
}

.btn:focus {
  box-shadow: none;
}
 

.btn{
  color: white;
  background-color: transparent;
  border-color: rgb(171, 33, 23);
  border-width: 2px;
  margin: 20px;
  font-size: 20px;
}

.btn:hover{
  background-color: rgb(171, 33, 23);
}