.center{
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    color:rgb(171, 33, 23);
    text-shadow: 1px 2px 3px white;
    
}

.carousel {
    width:600px;
    height:400px;
  }

  .podnaslov{
    text-align: center;
    font-size: 1.3rem;
    font-weight: bold;
    color: rgb(255, 255, 255);
    margin-top:15px;
  }
  
  .tekst{
    font-size: 1rem; 
    padding-left: 120px;
    padding-right: 120px;
    font-weight: bold;
    color:black;  
  }

  .card{
    background-color:wheat;
    font-weight: bold;
    font-size: 1rem; 
    color:rgb(70, 70, 70);
  }

  .md-form{
    color:rgb(171, 33, 23);
  }

  .backgr{
    background-image: url("../img/ntr.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position:center;
}

.btn:focus {
  box-shadow: none;
}
 