body{
	color:#656565;
	font-family:'Open Sans', Arial, sans-serif;
	font-size: 1.4em; 
	background: #272727;
}

/*============ Header =================== */
.logo{
	height: 40px;
	width: 40px;
}

/* ========= Footer ========= */

footer {
    position: fixed;
    bottom : 0px;
    left: 0px;
    
   /* margin-top: -100px;
    clear: both;*/
    width: 100%;
    text-align: center;
	background-color: rgb(27, 27, 27);
	/* flex: 1 1 auto; */
}

.copyright {
	text-align:center;
	font-size:12px;
}

