.bg-top-yoga{
    background-image: url("../img/yogabg.jpg");
    background-size: cover ;
    background-repeat: no-repeat;
    background-position: center; 
    position: relative;
    
    z-index: 0;
    height: 500px;
    width: auto;

    margin: 0px;
}

.bg-top-pilates{
    background-image: url("../img/pilatesbg.jpg");
    background-size: cover ;
    background-repeat: no-repeat;
    background-position: center; 
    position: relative;
    
    z-index: 0;
    height: 500px;
    width: auto;

    margin: 0px;
}

.bg-top-core{
    background-image: url("../img/corebg.jpg");
    background-size: cover ;
    background-repeat: no-repeat;
    background-position: center; 
    position: relative;
    
    z-index: 0;
    height: 500px;
    width: auto;

    margin: 0px;
}

.bg-top-cardio{
    background-image: url("../img/cardiobg.jpg");
    background-size: cover ;
    background-repeat: no-repeat;
    background-position: center; 
    position: relative;
    
    z-index: 0;
    height: 500px;
    width: auto;

    margin: 0px;
}

.img-responsive{
    width: 100%;
    height: auto;
}

.txt {
   
    font-weight: 300;
    font-size: 150px;
    color: #ffffff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

@media screen and (max-width: 600px) {  
    .main-index-txt {
        line-height: 20px;
        font-size: 15px;
        top: 50%;
        left: 20%;
    }
}

.bg-main{
    background-image: url("../img/pozadina.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position:center;
    z-index: 0;
}

.btn{
    color: white;
    background-color: transparent;
    border-color: rgb(171, 33, 23);
    border-width: 2px;
    margin: 20px;
    font-size: 20px;
}

.btn1{
    color: black;
    background-color:  transparent;
    border-color: rgb(171, 33, 23);
    border-width: 2px;
    margin: 20px;
    font-size: 40px;
    transition: transform 0.5s;
}
.btn:hover{
    background-color: rgb(171, 33, 23);
}

.btn1:hover {
    background-color: rgb(171, 33, 23);
    transform: scale(1.05);
}
hr{
    border-width: 2px;
    border-color: rgb(39, 39, 39);
}

.image {
    display: block;
    width: 100%;
    height: auto;
    max-width: 1200px;
    transition:  transform .5s;
    filter: blur(4px);
}

.image:hover {
    transform: scale(1.1);
}
  
.overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: rgb(171, 33, 23);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}
  
.mar{
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 20px;
}


.tr1:hover .overlay {
    bottom: 0;
    height: 100%;
}

.tr2:hover .overlay {
    bottom: 0;
    height: 100%;
}

.tr3:hover .overlay {
    bottom: 0;
    height: 100%;
}
  
.text {
    white-space: nowrap; 
    color: white;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);

}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;

    opacity: 1;
  }