.backgr{
    background-image: url("../img/service4.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position:center;
}

.center{
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    color:rgb(171, 33, 23);
    text-shadow: 1px 2px 3px white;
    
}

.card{
    box-shadow: 3px 3px 5px rgba(151, 45, 45, 0.281);
    transition: box-shadow 0.3s ease-in-out transform .2s;
    margin-right: 20px;
    margin-bottom: 30px;
    margin-right: 30px;
}

.card:hover {
    box-shadow: 3px 5px 20px rgb(171, 33, 23);
    transform: scale(1.1);
}


.btn:focus {
box-shadow: none;
}

